body {
    background-color: #e6dbdb;
    font-size: 18px;
    font-weight: bold;
    font-family:symbol, 'Standard Symbols L';
}

body div {
    border: 3px solid #7d6e6e;
    margin: 3px;
    width: 800px;
    margin: 0 auto;
}

label {
    color: blue;
}

.answer {
    border: 1px solid black;
}

input {
    margin: 2px;
    width: 140px;
}

h1 {
    font-size: 22px;
    color: #ff6a00;
    position: relative;
    width: 800px;
    height: 30px;
    margin: 0 auto;
}

input#txtIsFiv , input#txtIsCou {
    width: 400px;
}

textarea {
    width: 400px;
    height:100px;
}

textarea#txtIsCou, textarea#txtIsRep {
    width: 400px;
    height:100px;
}